.button {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: none;
  background-color: #a6ffff;
}
.button-disabled {
  background-color: #888888;
}
@media screen and (max-width: 1820px) {
}
@media screen and (max-width: 1620px) {
  .button {
    height: 150px;
    width: 150px;
  }
}
@media screen and (max-width: 1420px) {
}
@media screen and (max-width: 1220px) {
  .button {
    height: 120px;
    width: 120px;
  }
}
@media screen and (max-width: 1020px) {
}
@media screen and (max-width: 820px) {
  .button {
    height: 90px;
    width: 90px;
  }
}
@media screen and (max-width: 620px) {
}
@media screen and (max-width: 420px) {
  .button {
    height: 60px;
    width: 60px;
  }
}
